* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e5e5e5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: #fff;
}

.logo {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.nav-icon {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.icon {
  display: inline;
  background-color: #6070ff;
  width: 18px;
  height: 2px;
  border-radius: 2px;
}

main {
  display: flex;
  flex-direction: column;
  background-image: url(./images/background.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-bottom-left-radius: 45px;
  background-color: #fff;
}

.primary-heading {
  color: #172b4d;
  font-size: 40px;
  line-height: 52px;
  padding: 128px 24px 12px 24px;
}

.introductory-text {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0 24px 12px 24px;
}

.lets-connect {
  color: #7f8cff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 24px;
}

.social-media-icons {
  display: flex;
  gap: 20px;
  padding: 12px 24px 12px 24px;
  list-style: none;
}

.icon-link {
  text-decoration: none;
}

.card-container {
  padding: 24px;
  display: grid;
  justify-content: center;
}

.card-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 88px;
  margin-left: 24px;
  margin-right: 24px;
  padding: 16px;
  border-radius: 16px;
}

.card-heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding: 12px 0 0 0;
}

.canopy {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding: 20px 0 0 0;
}

.gray-matter {
  font-weight: 600;
  color: #7a869a;
  font-size: 13px;
  padding: 20px 0 0 0;
}

.card-paragraph {
  color: 344563;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  padding: 20px 0 0 0;
}

.card-list {
  display: flex;
  gap: 8px;
  list-style: none;
  padding: 12px 0 0 0;
}

.card-list-items {
  padding: 4px 12px 4px 12px;
  border-radius: 20px;
  background-color: #ebebff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.card-button {
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #396df2;
  align-self: flex-start;
  margin-top: 24px;
  background-color: #fff;
}

.card-button:hover {
  color: #fff;
  background-color: #6070ff;
}

.card-button:active {
  color: #fff;
  background-color: #2230d2;
}

.card-button:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

.about-me {
  margin-top: 114px;
}

.about-me-content {
  background-color: #fff;
  padding: 114px 27px 27px;
  border-top-right-radius: 100px;
}

.about-me-heading {
  color: #172b4d;
  font-weight: 700;
  font-size: 50px;
  line-height: 52px;
}

.about-me-paragraph {
  padding-top: 12px;
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.abt-me-connect {
  padding-top: 12px;
  color: #7f8cff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.about-me-icons {
  display: flex;
  gap: 20px;
  padding-top: 26px;
  padding-left: 11px;
  list-style: none;
}

.resume-btn {
  margin-top: 22px;
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  background-color: #fff;
}

.resume-btn:hover {
  color: #fff;
  background-color: #6070ff;
}

.resume-btn:active {
  color: #fff;
  background-color: #2230d2;
}

.resume-btn:disabled {
  border: 1px solid #c1c7d0;
  color: #5e6c84;
}

.skills {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-top: 48px;
}

.skill-text-style {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.languages {
  display: flex;
  justify-content: space-between;
  padding-right: 36px;
}

.language-icons {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 12px;
}

.language-text {
  color: #253858;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
}

.skill-icons {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px 12px;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.solid {
  border: 1px solid #dfe1e6;
}

.category-spacing {
  margin-top: 26px;
  margin-bottom: 23px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/contact-bck.svg');
  background-repeat: no-repeat;
  background-position: right 21px;
  background-color: #6070ff;
  border-top-left-radius: 80px;
  margin-top: 113px;
}

.contact-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-header h2 {
  margin: 103px 24px 12px 24px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.contact-header p {
  margin: 12px 24px 40px 24px;
  color: #ebebff;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.form {
  width: 80%;
}

.form ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px
}

.form ul li {
  display: flex;
  flex-direction: column;

}

.form ul li input {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px;
  color: #b3bac5;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.form ul li textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px;
  color: #b3bac5;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.form-btn {
  align-self: flex-start;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background-color: #fff;
  color: #6070ff;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  padding: 12px 16px 12px 16px;
  margin-bottom: 45px;
}

.form-btn:disabled {
  align-self: flex-start;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  background-color: #fff;
  color: #5e6c84;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  padding: 12px 16px 12px 16px;
}

.form-btn:hover {
  align-self: flex-start;
  border: 1px solid #6077ff;
  border-radius: 8px;
  background-color: #6077ff;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  padding: 12px 16px 12px 16px;
}
